<!Doctype html>
<html ng-app="module1">
    <head>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <title>Module 1</title>
    </head>
    <body>
        <h3>Eat Healty</h3>
        <div ng-controller="healtyEating">
            Enter Food items Here &ensp;
            <input title="Not considering commas" type="text" ng-model="name"> &ensp;
            <a href='#' ng-click="funckx()"> click me</a>
            <span>Done baby comments here {{name}}</span>
        </div>
    </body>
</html>
